@import "tailwindcss";

@font-face {
  font-family: Roboto;
  src: url("./assets/font/Roboto-VariableFont_wdth,wght.ttf") format("woff2");
}

/* custom color */

@theme {
  --color-primary: #fca311;
  --color-secondary: #14213d;
  --color-bg1: #e5e5e5;

  --font-Roboto: "Roboto", "sans-serif";
}

* {
  font-famely: Roboto;
}
